@model Prototype.Models.Reclamacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reclamacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDoAContecimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDoAContecimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VotosPositivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VotosPositivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VotosNegativos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VotosNegativos)
        </dd>
        <dt>
            Comentários:
        </dt>
        @foreach (Prototype.Models.Comentario com in Model.Comentarios) {
        <dd>
            @com.Descricao
        </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Comentar", "Create", "Comentario")
</p>
