@model IEnumerable<Prototype.Models.Reclamacao>


@{
    ViewBag.Title = "Index";
}

<style>
    .tags {
        font-size: 12px;
    }
</style>

<h2>Reclamações</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="jumbotron texto">
    <!--<table class="table-hover">-->
    <!--
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDoAContecimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VotosPositivos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VotosNegativos)
        </th>
        <th></th>
    </tr>
        -->
    @foreach (var item in Model)
    {
        <!--
        <tr>

            <td>
                <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3> <br /><br />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DataDoAContecimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VotosPositivos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VotosNegativos)
            </td>

        </tr>

        <tr>
            <td class="col-md-4">
                <textarea class="col-md-8">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </textarea>
            </td>

            @if (Context.User.Identity.IsAuthenticated)
            {
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })

                </td>
            }

        </tr>
        -->
        <div>
            <h3><u>@Html.DisplayFor(modelItem => item.Titulo)</u></h3>

            <div class="row">
                <div class="col-md-10">
                    <p class="col-md-offset-0">
                        @Html.DisplayFor(modelItem => item.Endereco)
                        <span class="tags col-md-offset-5">
                            <!--AQUI É ONDE VÃO AS TAGS, SE TIVER TAGS-->
                            Votos Positivos: @Html.DisplayFor(modelItem => item.VotosPositivos)
                            Votos Negativos: @Html.DisplayFor(modelItem => item.VotosNegativos)
                        </span>
                    </p>
                </div>

                <div class="col-md-offset-10">
                    <p class="text">Tags ou rates.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <textarea readonly="readonly" style="background-color:inherit; color:white; ">@Html.DisplayFor(modelItem => item.Descricao)</textarea>
                </div>

                <div class="col-md-offset-10">
                    <img src="https://oslimpatrilhos.files.wordpress.com/2010/06/buracos-na-ucranea-diferente.jpg" style="max-width:200px; max-height:200px" class="img-responsive img-thumbnail" style="height:auto" />
                </div>

            </div>



            <hr /><br /><br />

        </div>

    }

    <!--</table>-->

</div>